body {
  font-family: helvetica;
  text-align: center;
}

p {
  font-size: 14px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23;
  font-weight: bold;
}

#backimage {
  background-image: image("resources/images/the-flatiron-building.png");
  background-color: red;
}
